*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p, a, span{
    font-family: 'Roboto', sans-serif;
}
.half-width{
    width: 50%;
}
#orng-clr{
    color: orange;
}

/* Header-section */
.header-section{
    background-image: linear-gradient(rgb(39, 56, 50), rgb(39, 54, 38));
    padding: 1rem 0;
    border-bottom: 5px solid orange ;
}
.header-sec{
    display: flex;
    
}
.header-logo{
    width: 30%;
    text-align: left;
}
.header-logo h2{
    color: #aca2a2;
    font-size: 2.5rem;
    margin-left: 3rem;
}
.header-menu{
    width: 60%;
    text-align: right;
    margin-top: 15px;
    
}
.header-menu ul{

}
.header-menu ul li{
    display: inline-block;
}
.header-menu ul li a{
    text-decoration: none;
    padding-right: 20px;
    color: #fff;
    font-size: 20px;
    
}
/* Banner-section */
.banner-sec{
    background-image: url(./images/food/download2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px;
   
}
.banner-text{
    text-align: center;
}
.banner-text h2{
    font-size: 3rem;
    color: rgba(39, 39, 37, 0.842);
    margin-left: 5rem;
    
}
.banner-text p{
    color: #5f5a5a;
    font-size: 20px;
    font-weight: 800;
    margin-top: 20px;
    margin-right: -25rem;
}



/* 1st-section */
.first-section{
    display: flex;
    padding-left: 5rem;
    padding-top: 3rem;
    height: 550px;
}
.first-text{
    padding-right: 2em;
}
.first-text h1{
    margin-bottom: .4rem;
    font-size: 3rem;
    color: rgba(95, 88, 88, 0.959);
}


.first-txt p{
    margin-top: 2rem;
    font-size: 18px;
   
   color: #9c9696;
}
.btn-div{
    margin-top: 3rem;
}
.btn-div a{
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    background: linear-gradient(rgb(240, 190, 53), rgb(255, 123, 0));
    padding: 15px 30px;
    border-radius: 20px;
    margin-top: 3rem;
}
.first-img{
    margin-bottom: 3rem;
}
.first-img img{
    height: 500px;
    
}
/* 2nd-secton */
.bgc{
    background-image: url(./images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.sec-img img{
    height: 500px;
    margin-left: 3rem;
}
.sec-text{
    margin-bottom: 2rem;
    
}
.sec-txt{
    padding-right: 11rem;
}
.sec-txt h2{
    margin-top: 6rem;
    font-size: 2.5rem;
    color: #606060;
    margin-bottom: 2rem;
}
.sec-txt p{
    margin-bottom: 5rem;
    font-size: 20px;
    color: #776767;
    
}
/* 3rd-section */
.my-recipe-section{
    padding-bottom: 2rem;
}
.my-rec-up{
    text-align: center;
    padding: 3rem 25rem;
   
}
.my-rec-up h1{
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #665b5b;
}

.my-rec-up p{
    color: #858080;
    font-size: 18px;
    
}
/* Card section */
.card-section{
    display: flex;
    margin: 0 5rem;
    text-align: center;
    justify-content: center;
    padding-bottom: 1rem;
    padding-left: 5rem;
}
.card-sec{ 
    padding: 1.4rem;
    box-shadow: 10px 10px 20px rgb(211, 211, 211);
    border-radius: 20px;
    margin-right: 4rem;
    width: 30%;
    
}
.card-img{}
.card-img img{
    height: 190px;
    width: 300px;
    margin-bottom: 2rem;
}
.card-text{}
.card-text h2{
    margin-bottom: 1rem;
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
}
.card-text p{
    color: #606060;
    text-align: left;
}
/* Count-section */
.count-section{
    background-image: url(./images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 0;
}
.count-sec{
    display: flex;
    box-shadow: 10px 15px 30px #776767;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    padding: 3rem;
    margin: 0 15rem;
}
.count{
    width: 25%;
}
.count h1{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 17px;

}
.count p{
    color: #606060;
}
/* contact-section */
.faka-div{
    width: 25%;
}
.contact-section{   
    padding: 3rem;
    text-align: center;
    justify-content: center;
    height: 600px;
    display: flex;   
    
    
    
}
.content-form{
    text-align: center;
    padding: 2rem;
    width: 50%;
    box-shadow: 10px 20px 30px #ddd;
    border-radius: 10px;

}

.content-form h3{
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 500;
}
.content-form p{
    color: #767676;
    font-size: 15px;
    font-weight: 400;
    line-height: 1em;
    margin-bottom: 20px;
    
}
.btn-contact{
    padding: 15px 270px;
    font-size: 25px;
    font-weight: 800;
    border-radius: 10px;
    background-image: linear-gradient(rgb(17, 155, 113), orange, rgb(221, 29, 29));
    color: #fff;
    display: inline-block;
    text-decoration: none;
    
}
.contact-default-email{
    width: 590px;
    padding: 15px;
    font-size: 20px;
    border: 1px  solid #e4e4e4;
    border-radius: 5px;
    box-shadow: 10px 10px 30px rgba(45, 176, 236, 0.1);
    
    margin-bottom: 15px;
}



/* Footer-section */
.footer-section{
    background-image: linear-gradient( rgb(73, 68, 68), rgb(29, 27, 27));
    padding: 2rem;
}
.footer{
    text-align: center;
}

.footer h2{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #948686;
}
.footer p{
    color: #a3b7bb;
}





